---
import Contacto from "../components/Contacto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luma Montacargas | Inicio">
  <section
    class="overflow-hidden bg-[url(https://dl.dropbox.com/s/zqmhemrlcltnyn8/1.-Los-montacargas-de-combusti%C3%B3n-tienen-un-costo-bajo-de-adquisici%C3%B3n.jpg?dl=0)] bg-cover bg-center bg-no-repeat"
  >
    <div class="bg-black/40 p-8 md:p-12 lg:px-16 lg:py-60">
      <div class="max-w-2xl text-center sm:text-left">
        <h2 class="text-2xl font-bold text-white sm:text-4xl md:text-5xl">
          ¿Necesitas una solución de montacargas confiable para tu empresa?
        </h2>

        <p
          class="hidden max-w-lg text-white/90 md:mt-6 md:block md:text-lg md:leading-relaxed"
        >
          ¡Tenemos lo que necesitas en venta y renta!
          <br />Contáctanos hoy para obtener una cotización personalizada.
        </p>

        <div class="mt-4 sm:mt-8">
          <a
            href="#"
            class="inline-flex items-center rounded-full bg-green-600 px-8 py-3 text-white shadow-lg transition hover:bg-green-700 focus:outline-none focus:ring"
          >
            <span class="text-sm font-medium">Llámanos</span>

            <svg
              class="ml-3 h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <Contacto/>
  
</Layout>
