<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
<header aria-label="Site Header" class="bg-green-600">
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
  <button
          class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
  <span class="sr-only">Toggle menu</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg></button>
  
      <div class="flex flex-1 items-center justify-end md:justify-between">
        <nav aria-label="Site Nav" class="hidden md:block" name="hola" id="hola1">
  
          <ul class="flex items-center gap-6 text-sm">
           
            <li>
              <a class="text-white transition hover:text-zinc-300" href="/">
                Inicio
              </a>
            </li>
  
            <li>
              <a class="text-white transition hover:text-zinc-300" href="/">
                Nosotros
              </a>
            </li>
  
            <li>
              <a class="text-white transition hover:text-zinc-300" href="#servicios">
                Servicios
              </a>
            </li>
  
            <li>
              <a class="text-white transition hover:text-zinc-300" href="#productos">
                Productos
              </a>
            </li>
            <li>
              <a class="text-white transition hover:text-zinc-300" href="#contacto">
                Contacto
              </a>
            </li>
          </ul>
        </nav>
  
          <ul class="flex items-center gap-4">
            <li>
              <a
                href="https://www.facebook.com/Lumamaquinaria/"
                rel="noreferrer"
                target="_blank"
                class="text-black transition hover:opacity-100"
              >
                <span class="sr-only">Facebook</span>
  
                <svg
                  class="w-7 h-7"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/Lumamaquinaria/"
                rel="noreferrer"
                target="_blank"
                class="text-white  transition hover:opacity-75"
              >
                <span class="sr-only">Facebook</span>
                <svg
                  class="w-7 h-7"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </header>

